<!DOCTYPE html>
<html>
<head>
  <title>Request Stats</title>
</head>
<body>
    <h1>Request Stats</h1>
    <p>URL: <%= req.url %></p>
    <p>Base URL: <%= req.baseUrl %></p>
    <p>Original URL: <%= req.originalUrl %></p>
    <p>PATH: <%= req.path %></p>
    <p>METHOD: <%= req.method %></p>
</body>
</html>

